src/main/resources/*.yml
.DS_Store
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
src/main/resources/*.yml
.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
src/main/resources/*.yml
.DS_Store
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
src/main/resources/*.yml
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
src/main/resources/*.yml
.DS_Store
.vscode/
