src/main/resources/application.yml
aws-secure/
.DS_Store
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
### STS ###
.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.DS_Store
.idea
*.iws
*.iml
*.ipr
out/
aws-secure/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.DS_Store
.vscode/
