<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LectureSearch - 강의등록하기</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=s1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
        <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
        <link rel="stylesheet" th:href="@{/css/mediaelementplayer.css}">
        <link rel="stylesheet" th:href="@{/css/animate.css}">
        <link rel="stylesheet" th:href="@{/fonts/flaticon-2/font/flaticon.css}">
        <link rel="stylesheet" th:href="@{/css/fl-bigmug-line.css}">


        <link rel="stylesheet" th:href="@{/css/aos.css}">

        <link rel="stylesheet" th:href="@{/css/style.css}">

        <style type="text/css">
            html, body {
                min-width: 650px;
            }
            #registerLectureForm {
                padding-block: 100px;
                color: white;
            }

            #registerLecture-bg {
                display: block;
                height: 900px;
                background-color: rgba(0,0,0, 0.7);
            }

            table tr th {
                padding:13px 0 0 15px;
                width: 150px;
                font-size: 15px;
            }

            table tr td .input-sm {
                height: 40px;
            }

            .col-md-1 {
                max-width: 90% !important;
            }

            .btn btn-primary{
                margin-left: 30px;
            }

            .page-header {
                margin-top: 30px;
            }

            .page-header p {
                font-size: 35px;
            }

        </style>
    </head>
    <body>

        <header th:replace="layout/header"></header>

        <div id="registerLecture-bg" class="site-blocks-cover inner-page-cover overlay" style="background-image:
        url(/images/registerledcture-img.png);">
<!--            <div class="container">-->
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-10">
                        <div id="registerLectureForm" class="container">
                            <div class="page-header">
                                <p>강의 등록</p>
                            </div>
                            <br/>
                            <input id="board_idx" name="contentIdx" type="hidden" th:value="${content?.idx}"/>
                            <input id="board_create_date" type="hidden" th:value="${content?.createdDate}"/>
                            <input type="hidden" class="col-md-1 form-control input-sm" readonly="readonly"
                                   th:value="${content?.registrationDate}"/>
                            <table class="table">
                                <form id="content_form" enctype="multipart/form-data" th:action="!${content?.idx} ? @{/contents/save} : @{/contents/update}"
                                      th:method="!${content?.idx} ? post : put">
                                    <input type="hidden" name="writer" th:value="${user.email}"/>
                                    <tr>
                                        <th><label for="content_title">*제목</label></th>
                                        <td><input name="title" id="content_title" type="text" class="col-md-1 form-control input-sm" th:value="${content?.title}" required/></td>
                                    </tr>
                                    <tr>
                                        <th><label for="content_author">*강사</label></th>
                                        <td><input name="author" id="content_author" type="text" class="col-md-1 form-control input-sm" th:value="${content?.author}" required/></td>
                                    </tr>
                                    <!--                <tr>-->
                                    <!--                    <th style="padding:13px 0 0 15px;">주제</th>-->
                                    <!--                    <td><input id="board_sub_title" type="text" class="col-md-1 form-control input-sm" th:value="${board?.subTitle}"/></td>-->
                                    <!--                </tr>-->
                                    <tr>
                                        <th><label for="content_images">이미지 파일</label></th>
                                        <td>
                                            <input name="files" id="content_images" multiple="multiple" type="file" th:value="${content?.images}"/>
                                        </td>
                                    </tr>
                                    <!--                <tr>-->
                                    <!--                    <th style="padding:13px 0 0 15px;">서브이미지</th>-->
                                    <!--                    <td><input id="board_sub_title" type="text" class="col-md-1 form-control input-sm" th:value="${board?.subTitle}"/></td>-->
                                    <!--                </tr>-->
                                    <tr>
                                        <th><label for="content_price">*가격</label></th>
                                        <td><input name="price" id="content_price" type="text" class="col-md-1 form-control input-sm" th:value="${content?.price}" required/></td>
                                    </tr>
                                    <tr>
                                        <th><label for="content_running_time">*강의시간</label></th>
                                        <td><input name="runningTime" id="content_running_time" type="text" class="col-md-1 form-control input-sm" th:value="${content?.runningTime}" required/></td>
                                    </tr>
                                    <tr>
                                        <th><label for="content_createdDate">*강의제작날짜</label></th>
                                        <td><input name="createdDate" id="content_createdDate" type="text" class="col-md-1 form-control input-sm"  th:value="${content?.createdDate}" required/></td>
                                    </tr>
                                    <tr>
                                        <th><label for="content_description">*내용</label></th>
                                        <td><textarea name="description" id="content_description"
                                                      class="col-md-1 form-control input-sm" maxlength="140" rows="7"
                                                      style="height: 150px;"
                                                      th:text="${content?.description}" required></textarea><span class="help-block"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <span id="pull-left">
                                            <a href="/">
                                                <button type="button" class="btn btn-primary">목록으로</button>
                                            </a>
                                            </span>
                                        </th>
                                        <td>
                                            <span id="pull-right">
                                                <input th:if="!${content?.idx}" type="submit" class="btn btn-primary" th:value="저장"/>
                                                <button th:if="${content?.idx}" type="submit" class="btn btn-info" id="update">수정</button>
                                            </span>
                                        </td>
                                    </tr>
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
        </div>

        <footer th:replace="layout/footer" style="display: block"></footer>

        <script th:src="@{/js/jquery.min.js}"></script>

    </body>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/mediaelement-and-player.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/circleaudioplayer.js"></script>

    <script src="/js/main.js"></script>
</html>