<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LectureSearch - 강의 올리기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/boardForm.min.css}" />

</head>
<style>
    .registerTH {
        padding:13px 0 0 15px;
    }

    /*tr td {*/
    /*    border: solid 1px #98FB98;*/
    /*}*/
</style>
<body>

    <div class="container">
        <div class="page-header">
            <h1>게시글 등록</h1>
        </div>
        <br/>
        <input id="board_idx" type="hidden" th:value="${content?.idx}"/>
        <input id="board_create_date" type="hidden" th:value="${content?.createdDate}"/>
        <table class="table">
            <form id="content_form" enctype="multipart/form-data" th:action="!${content?.idx} ? @{/contents/save} : @{/contents/update}"
                  th:method="!${content?.idx} ? post : put">
                <!--                <tr>-->
<!--                    <th style="padding:13px 0 0 15px">게시판 선택</th>-->
<!--                    <td>-->
<!--                        <div class="pull-left">-->
<!--                            <select class="form-control input-sm" id="board_type">-->
<!--                                <option>&#45;&#45;분류&#45;&#45;</option>-->
<!--                                <option th:value="notice" th:selected="${content?.boardType?.name() == 'notice'}">공지사항</option>-->
<!--                                <option th:value="free" th:selected="${content?.boardType?.name() == 'free'}">자유게시판</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->

            <input name="contentIdx" type="hidden" th:value="${content?.idx}">
            <input type="hidden" class="col-md-1 form-control input-sm" readonly="readonly"
                   th:value="${content?.registrationDate}" />

            <tr>
                <th class="registerTH">*제목</th>
                <td><input name="title" id="content_title" placeholder="예 : 생활코딩 리눅스 강좌" type="text"
                           class="col-md-1 form-control input-sm"
                           th:value="${content?.title}" required/></td>
            </tr>
            <tr>
                <th class="registerTH">*강사</th>
                <td><input name="author" id="content_author" placeholder="예 : egoing" type="text"
                           class="col-md-1 form-control input-sm"
                           th:value="${content?.author}" required/></td>
            </tr>
<!--                <tr>-->
<!--                    <th style="padding:13px 0 0 15px;">주제</th>-->
<!--                    <td><input id="board_sub_title" type="text" class="col-md-1 form-control input-sm" th:value="${board?.subTitle}"/></td>-->
<!--                </tr>-->
            <tr>
                <th class="registerTH">이미지 파일</th>
                <td>
                        <input name="files" id="content_images" multiple="multiple" type="file" th:value="${content?.images}"/>
                </td>
            </tr>
<!--                <tr>-->
<!--                    <th style="padding:13px 0 0 15px;">서브이미지</th>-->
<!--                    <td><input id="board_sub_title" type="text" class="col-md-1 form-control input-sm" th:value="${board?.subTitle}"/></td>-->
<!--                </tr>-->
            <tr>
                <th class="registerTH">*가격</th>
                <td><input name="price" id="content_price" placeholder="예 : 89000" type="text"
                           class="col-md-1 form-control input-sm"
                           th:value="${content?.price}" required/></td>
            </tr>
            <tr>
                <th class="registerTH">*강의시간</th>
                <td><input name="runningTime" id="content_running_time" placeholder="예 : 14.5 시간" type="text"
                           class="col-md-1 form-control input-sm" th:value="${content?.runningTime}" required/></td>
            </tr>
            <tr>
                <th class="registerTH">강의제작날짜</th>
                <td><input name="createdDate" id="content_createdDate" placeholder="예 : 2019-12" type="text"
                           class="col-md-1 form-control input-sm"  th:value="${content?.createdDate}" /></td>
            </tr>
            <tr>
                <th class="registerTH">*내용</th>
                <td><textarea name="description" id="content_description" placeholder="어떤 강의인지를 간략하게 설명해주시면 좋습니다"
                              class="col-md-1 form-control input-sm" maxlength="140" rows="7" style="height: 200px;"
                              th:text="${content?.description}" required></textarea><span class="help-block"></span>
                </td>
            </tr>
             <tr>
                 <th class="registerTH">
                     <div th:if="!${content?.idx}" class="pull-left">
                         <a href="/main" class="btn btn-default">목록으로</a>
                     </div>
                 </th>
                 <td>
                <div class="pull-right">
                    <input th:if="!${content?.idx}" type="submit" class="btn btn-primary" th:value="저장"/>
                    <button th:if="${content?.idx}" type="submit" class="btn btn-info" id="update">수정</button>
                </div>
                 </td>
              </tr>
                <input type="hidden" name="writer" th:value="${user.email}"/>
            </form>
        </table>
        <div class="pull-left" th:if="${content?.idx}">
            <a href="/main" class="btn btn-default">목록으로</a>
        </div>
    </div>


<script th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">
    $('#content_title').blur(function(){
        var id = $("#"+this.id);
        if(id.val()==null){
            id.input.style("border", "solid 1px #a52a2a");
        } else {
            id.input.style("border", "solid 1px #98FB98");
        }
    });

    $('#content_author').blur(function(){
        var id = $("#"+this.id);
        if(id.val()==null){
            id.input.style("border", "solid 1px #a52a2a");
        } else {
            id.input.style("border", "solid 1px #98FB98");
        }
    });

    $('#content_price').blur(function(){
        var id = $("#"+this.id);
        var nums = [1,2,3,4,5,6,7,8,9,0];
        var result = true;
        var arr = id.val().split("");
        for (var i=0; i<arr.length; i++){
            if(!arr[i].contains(nums)){
                result = false;
            }
        }

        if(result){
            id.input.style("border", "solid 1px #98FB98");
        } else {
            id.input.style("border", "solid 1px #a52a2a");
            alert("숫자만 입력해주세요");
        }
    });

    $('#content_time').blur(function(){
        var id = $("#"+this.id);
        if(id.val()==null){
            id.input.style("border", "solid 1px #a52a2a");
        } else {
            id.input.style("border", "solid 1px #54d1b9");
        }
    });

    $('#content_description').blur(function(){
        var id = $("#"+this.id);
        if(id.val()==null){
            id.input.style("border", "solid 1px #a52a2a");
        } else {
            id.input.style("border", "solid 1px #54d1b9");
        }
    });

</script>
<!--        <script th:if="!${content?.idx}">-->
<!--            function filesToString(){-->
<!--                var nullCheck = $('#content_images').val();-->
<!--                if(!nullCheck) return;-->
<!--                    var fileInput = document.getElementById("content_images");-->
<!--                    var files = fileInput.files;-->
<!--                    var fileNames = files[0].name;-->
<!--                    for (var i = 1; i < files.length; i++) {-->
<!--                        fileNames += "," + files[i].name;-->
<!--                    }-->
<!--                    return fileNames;-->

<!--            }-->
<!--            $('#insert').click(function () {-->
<!--                document.getElementById('image_form').submit();-->
<!--                var jsonData = JSON.stringify({-->
<!--                    title: $('#content_title').val(),-->
<!--                    author: $('#content_author').val(),-->
<!--                    images: filesToString(),-->
<!--                    description: $('#content_description').val(),-->
<!--                    createdDate: $('#content_createdDate').val(),-->
<!--                    runningTime: $('#content_running_time').val(),-->
<!--                });-->
<!--                $.ajax({-->
<!--                    url: "http://localhost:8080/contents/save",-->
<!--                    type: "POST",-->
<!--                    data: jsonData,-->
<!--                    contentType: "application/json",-->
<!--                    headers: {-->
<!--                        "Authorization": "Basic " + btoa("giyun" + ":" + "test")-->
<!--                    },-->
<!--                    dataType: "json",-->
<!--                    success: function () {-->
<!--                        alert('저장 성공!');-->
<!--                        location.href = '/main';-->
<!--                    },-->
<!--                    error: function () {-->
<!--                        alert('저장 실패!');-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--        </script>-->
<!--        <script th:if="${content?.idx}">-->
<!--            $('#update').click(function () {-->
<!--                var jsonData = JSON.stringify({-->
<!--                    title: $('#board_title').val(),-->
<!--                    subTitle: $('#board_sub_title').val(),-->
<!--                    content: $('#board_content').val(),-->
<!--                    boardType: $('#board_type option:selected').val(),-->
<!--                    createdDate: $('#board_create_date').val()-->
<!--                });-->
<!--                $.ajax({-->
<!--                    url: "http://localhost:8081/api/boards/" + $('#board_idx').val(),-->
<!--                    type: "PUT",-->
<!--                    data: jsonData,-->
<!--                    contentType: "application/json",-->
<!--                    dataType: "json",-->
<!--                    success: function () {-->
<!--                        alert('수정 성공!');-->
<!--                        location.href = '/board/list';-->
<!--                    },-->
<!--                    error: function () {-->
<!--                        alert('수정 실패!');-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--        </script>-->
</body>
</html>