<style>
    .footer-contents {
        flex: 0 0 100%;
        max-width: 100%;
        display: inline-block;
    }

    .word4wrap {
        word-wrap: break-word;
        display: inline-block;
        word-break: keep-all;
    }

    #copyrights {
        padding-top: 0px !important;
    }

    .site-footer {
        padding: 30px !important;
    }

    .mt-5 {
        padding-top: 0em !important;
    }

</style>

<footer class="site-footer">

    <div class="container">
        <div class="row">
            <div class="footer-contents">
                <div class="mb-5">
                    <h3 class="footer-heading mb-4">About LectureSearch</h3>
                    <p class="word4wrap">LectureSearch는 세계 곳곳에 업로드된 IT관련 강의와 강의플랫폼을 손쉽게 검색하여 접할 수 있게 하고자 하는 의도로 
                        제작되었습니다. <br>LectureSearch에서 필요한 강의를 쉽게 검색하고, 실력을 키우세요!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-contents">
                <div class="mb-5">
                    <h3 class="footer-heading mb-4">With Us</h3>
                    <div>
                        <a href="https://github.com/GiyunPark/lectureSearch" class="pl-0 pr-3">
                            <span class="icon-github"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5 mt-5 text-center" id="copyrights">
            <div class="col-md-12">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;2019 All rights reserved | This template is made with
                    <i class="icon-heart
text-danger" aria-hidden="true"></i>
                    by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>

    </div>
</footer>
