<style>
    .footer-contents {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .word4wrap {
        word-wrap: break-word;
        display: inline-block;
        word-break: keep-all;
    }

</style>

<footer class="site-footer">

    <div class="container">
        <div class="row">
            <div class="footer-contents">
                <div class="mb-5">
                    <h3 class="footer-heading mb-4">About LectureSearch</h3>
                    <p class="word4wrap">LectureSearch는 세계 곳곳에 업로드된 IT관련 강의와 강의플랫폼을 손쉽게 검색하여 접할 수 있게 하고자 하는 의도로
                        제작되었습니다. <br>LectureSearch에서 필요한 강의를 쉽게 검색하고, 실력을 키우세요!
                    </p>
                </div>
            </div>
        </div>

        <div class="footer-contents">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Follow Us</h3>
                <div>
                    <a href="#" class="pl-0 pr-3">
                        <span class="icon-facebook"></span>
                    </a>
                    <a href="#" class="pl-3 pr-3">
                        <span class="icon-twitter"></span>
                    </a>
                    <a href="#" class="pl-3 pr-3">
                        <span class="icon-instagram"></span>
                    </a>
                    <a href="#" class="pl-3 pr-3">
                        <span class="icon-linkedin"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;2019 All rights reserved | This template is made with
                    <i class="icon-heart
text-danger" aria-hidden="true"></i>
                    by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>

    </div>
</footer>
