<style>
    .mb-0{
        color: white;
    }
    .header-menu{
        color: white;
    }
</style>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="site-navbar mt-4">
        <div class="container py-1">
            <div class="row align-items-center">
                <div class="col-8 col-md-8 col-lg-4">
                    <h1 class="mb-0">
                        <a href="/main" class="text-white h2 mb-0">
                            <strong>LectureSearch
                                <span class="text-danger">.</span>
                            </strong>
                        </a>
                    </h1>
                </div>
                <div class="col-4 col-md-4 col-lg-8">

                    <nav class="site-navigation text-right text-md-right" role="navigation">

                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                            <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                                <span class="icon-menu h3"></span>
                            </a>
                        </div>

                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li class="active">

                                <!-- 회원접속시 이름 출력 (영진) -->
                                <span th:if="${user}!=null" class="header-menu">
                                    <a href="/userProfile"><span th:text="${user.name}"></span></a>님 환영합니다.
                                </span>
                                <a href="/main">Home</a>
                            </li>
                            <li class="header-menu">
                                <a th:if="${user}" href="/contents/cartList">Cart</a>
                                <a th:if="${user == null}" href="/login">Cart</a>
                            </li>
                            <li th:if="${user}==null" class="header-menu">
                                <a href="/login">Login/Signup</a>
                            </li>
                            <li th:if="${user}!=null" class="header-menu">
                                <a href="#">About</a>
                            </li>
                            <li th:if="${user}!=null" class="header-menu">
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>

                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>