<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>welcome</title>
        <link rel="stylesheet" th:href="@{/css/base.css}" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{webjars/jquery-ui/1.11.4/jquery-ui.min.css}" />
    </head>
<body>
<img th:src="@{images/welcome.png}"/>
    <h1>환영합니다!</h1>
    <div class="welcome-div" style="align-content: center;">
        <p th:text="|당신의 이메일 주소는 ${email}입니다.|"></p>
        <p th:text="|당신의 비밀번호는 ${password}입니다.|"></p>
    </div>
</body>
</html>