<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
<style>
    #registerForm {
        display: none;
    }
</style>

<div class="container" style="width:100%; margin-left: auto; margin-right: auto; text-align: center;">
<!-- <div class="container inner-left" style="width: 55%; float: left; margin-top: 7%;">-->
    <div id="loginForm">
    <div class="container login" style="width:100%; margin-left: auto; margin-right: auto; text-align: center;">
        <h2>로그인</h2>
        <section layout:fragment="socialLoginForm">
            <!--        소셜 로그인-->
            <table style="text-align: center; align-content: center; margin: auto; margin-bottom: 50px;">
                <tr>
                    <td style="width: 110px;"><img th:src="@{/images/facebook.png}" width="40px" height="40px"/></td>
                    <td style="width: 250px;"><a href="javascript:;" class="btn_social" data-social="facebook">페이스북으로 로그인하기</a></td>
                </tr>
                <tr>
                    <td><img th:src="@{/images/google.png}" width="40px" height="40px"/></td>
                    <td><a href="javascript:;" class="btn_social" data-social="google">구글로 로그인하기</a></td>
                </tr>
            </table>
        </section>

        <form action="/login" method="get">
            <div class="form-group">
                <table style="text-align: center; align-content: center; margin: auto;">
                    <tr>
                        <td style="width: 110px;"><label for="loginEmail">이메일</label></td>
                        <td style="width: 250px;"><input type="text" class="form-control" id="loginEmail" name="email"
                                                         placeholder="아이디를 입력하세요."></td>
                    </tr>
                    <tr>
                        <td><label for="loginPassword">비밀번호</label></td>
                        <td><input type="password" class="form-control" id="loginPassword" name="password"
                                   placeholder="비밀번호를 입력하세요."></td>
                    </tr>
                </table>
            </div>
            <button type="submit" class="btn btn-default">로그인하기</button>
            <br/>
<!--            switching to signup-->
            <p class="toggle-button">계정이 없으신가요?
                &nbsp;<a href="javascript:void(0)" id="showSignUp">회원가입</a>
            </p>
        </form>
        <br>
    </div>
</div>
<!--</div>-->

<div id="registerForm" style="width:100%; margin-left: auto; margin-right: auto; text-align: center;">
    <h2>회원가입</h2><br>

    <form action="/create" method="post">
        <div class="form-group">
            <table style="text-align: center; align-content: center; margin: auto;">
                <tr>
                    <th style="width: 110px;"><label for="signUpEmail">Email</label></th>
                    <td style="width: 250px;"><input type="email" class="form-control" id="signUpEmail" name="email"
                                                     placeholder="이메일주소를 입력하세요."></td>
                </tr>
                <tr>
                    <th style="width: 110px;"><label for="signUpName">User Name</label></th>
                    <td style="width: 250px;"><input type="text" class="form-control" id="signUpName" name="name"
                                                     placeholder="닉네임을 입력하세요."></td>
                </tr>
                <tr>
                    <th><label for="signUpPassword">Password</label></th>
                    <td><input type="password" class="form-control" id="signUpPassword" name="password"
                               placeholder="비밀번호를 입력하세요."></td>
                </tr>
                <tr>
                    <th><label for="checkPW">Confirm Password</label></th>
                    <td><input type="password" class="form-control" id="checkPW" name="chk_password"
                               placeholder="비밀번호를 다시 입력해주세요."></td>
                </tr>
                <tr>
                    <th></th>
                    <td><span id="alert-success" style="display: none; color: #1a00fa;">비밀번호가 일치합니다.</span>
                        <span id="alert-danger" style="display: none; color: #d92742; font-weight: bold; ">비밀번호가 일치하지 않습니다.</span></td>
                </tr>
            </table>
        </div>
        <button type="submit" class="btn btn-default" id="signUpBtn">가입하기</button>

<!--        switching to login-->
        <p class="toggle-button">계정이 있으신가요?
            &nbsp;<a href="javascript:void(0)" id="showLogIn">로그인</a>
        </p>
    </form>
</div>
</div>



<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('.btn_social').click(function() {
        var socialType = $(this).data('social');
        location.href="/oauth2/authorization/"+socialType;
    });

    $("#showLogIn").click(function() {
        console.log('login btn clicked');
        $("#registerForm").hide();
        $("#loginForm").show();

    });

    $("#showSignUp").click(function() {
        console.log('regsiter btn clicked');
        $("#loginForm").hide();
        $("#registerForm").show();

    });


    // 회원가입 버튼 비활성화
    $('#signUpBtn').attr("disabled", true);

    var availableSignUp = false;

    // 비밀번호 확인
    $('#checkPW').focusout(function () {

        var pwd1 = $("#signUpPassword").val();
        var pwd2 = $("#checkPW").val();
        if (pwd1 != "" || pwd2 != "") {
            if (pwd1 == pwd2) {
                $("#alert-success").css('display', 'inline-block');
                $("#alert-danger").css('display', 'none');

                availableSignUp = true;
                // 조건 충족시 회원가입 버튼 활성화
                if(availableSignUp){
                    $('#signUpBtn').removeAttr("disabled");
                }
            } else {
                alert("비밀번호가 일치하지 않습니다. 비밀번호를 확인하고 다시 입력해주세요.");
                $("#alert-success").css('display', 'none');
                $("#alert-danger").css('display', 'inline-block');
            }
        }
    });

</script>

<!--<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.css"></script>-->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mediaelement-and-player.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>

</body>
</html>