<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

<div class="container" style="justify-content: center">
    <div class="container" style="width:50%; margin-left: auto; margin-right: auto; text-align: center; justify-content: center; align-content: center; flex-direction: column;">
        <br/>
        <h2>소셜 로그인</h2><br>
        <table style="text-align: center; align-content: center; margin: auto; margin-bottom: 50px;">
            <tr>
                <td style="width: 110px;"><img th:src="@{/images/facebook.png}" width="40px" height="40px"/></td>
                <td style="width: 250px;"><a href="javascript:;" class="btn_social" data-social="facebook">페이스북으로 로그인하기</a></td>
            </tr>
            <tr>
                <td><img th:src="@{/images/google.png}" width="40px" height="40px"/></td>
                <td><a href="javascript:;" class="btn_social" data-social="google">구글로 로그인하기</a></td>
            </tr>
            <tr>
                <td><img th:src="@{/images/kakao.png}" width="40px" height="40px"/></td>
                <td><a href="javascript:;" class="btn_social" data-social="kakao">카카오로 로그인하기</a></td>
            </tr>
        </table>

    </div>
    <div class="container" style="width:50%; margin-left: auto; margin-right: auto; text-align: center; align-content: center; justify-content: center; flex-direction: column;">
        <h2>직접 로그인</h2><br>
        <form action="/login">
            <div class="form-group">
                <table style="text-align: center; align-content: center; margin: auto;">
                    <tr>
                        <td style="width: 110px;"><label for="userEmail">Email</label></td>
                        <td style="width: 250px;"><input type="text" class="form-control" id="userEmail" name="userEmail" placeholder="아이디를 입력하세요."></td>
                    </tr>
                    <tr>
                        <td><label for="userPassword">Password</label></td>
                        <td><input type="text" class="form-control" id="userPassword" name="userPassword" placeholder="비밀번호를 입력하세요."></td>
                    </tr>
                </table>
            </div>
            <button type="submit" class="btn btn-default">로그인하기</button>
        </form>
    </div>
</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('.btn_social').click(function () {
        var socialType = $(this).data('social');
        location.href="/oauth2/authorization/"+socialType;
    });
</script>

</body>
</html>